@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

@font-face {
    font-family: "grotesk";
    src: url("./assets/fonts/space-grotesk-latin-400-normal.ttf");
}

@font-face {
    font-family: "grotesk_500";
    src: url("./assets/fonts/space-grotesk-latin-500-normal.ttf");
}

@font-face {
    font-family: "grotesk_600";
    src: url("./assets/fonts/space-grotesk-latin-600-normal.ttf");
}
